/* CSS Document */

/* Image Slider Styles 1*/
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

.carousel {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #f99;
}

.carousel__slide:nth-child(even) {
  background-color: #99f;
}

#carousel__slide1{
	background-image: url("../img/Culligan1.png");
    background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
}

#carousel__slide2{
	background-image: url("../img/Culligan4.png");
    background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
}

#carousel__slide3{
	background-image: url("../img/Culligan2.png");
    background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
}

#carousel__slide4{
	background-image: url("../img/Culligan3.png");
    background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
}

.carousel__slide:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

/* Image Slider Styles 2 */
@keyframes tonext2 {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart2 {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap2 {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

.carousel2 {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

.carousel2 {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide2 {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #f99;
}

.carousel__slide2:nth-child(even) {
  background-color: #99f;
}

#carousel__slide12{
	background-image: url("../img/ManualNavMesh\ \(2\).png");
    background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
}

#carousel__slide22{
	background-image: url("../img/ManualNavMesh\ \(1\).png");
    background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
}

#carousel__slide32{
	background-image: url("../img/ManualNavMesh\ \(3\).png");
    background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
}

#carousel__slide42{
	background-image: url("../img/ManualNavMesh\ \(4\).png");
    background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
}

.carousel__slide2:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper2 {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide2:last-child .carousel__snapper2 {
    animation-name: tostart2, snap2;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper2 {
    animation-name: none;
  }
}

.carousel2:hover .carousel__snapper2,
.carousel2:focus-within .carousel__snapper2 {
  animation-name: none;
}

.carousel__navigation2 {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list2,
.carousel__navigation-item2 {
  display: inline-block;
}

.carousel__navigation-button2 {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel2::before,
.carousel2::after,
.carousel__prev2,
.carousel__next2 {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel2::before,
.carousel__prev2 {
  left: -1rem;
}

.carousel2::after,
.carousel__next2 {
  right: -1rem;
}

.carousel2::before,
.carousel2::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel2::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel2::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

/* Image Slider Styles 3 */
@keyframes tonext3 {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart3 {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap3 {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

.carousel3 {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

.carousel3 {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport3 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide3 {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #f99;
}

.carousel__slide3:nth-child(even) {
  background-color: #99f;
}

#carousel__slide13{
	background-image: url("../img/AHPMessenger1.png");
    background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
}

#carousel__slide23{
	background-image: url("../img/AHPMessenger2.png");
    background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
}

#carousel__slide33{
	background-image: url("../img/AHPMessneger3.png");
    background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
}

#carousel__slide43{
	background-image: url("../img/AHPMessenger4.png");
    background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
}

.carousel__slide3:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper3 {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide3:last-child .carousel__snapper3 {
    animation-name: tostart3, snap3;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper3 {
    animation-name: none;
  }
}

.carousel3:hover .carousel__snapper3,
.carousel3:focus-within .carousel__snapper3 {
  animation-name: none;
}

.carousel__navigation3 {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list3,
.carousel__navigation-item3 {
  display: inline-block;
}

.carousel__navigation-button3 {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel3::before,
.carousel3::after,
.carousel__prev3,
.carousel__next3 {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel3::before,
.carousel__prev3 {
  left: -1rem;
}

.carousel3::after,
.carousel__next3 {
  right: -1rem;
}

.carousel3::before,
.carousel3::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel3::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel3::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

/* Image Slider Styles 4 */
@keyframes tonext4 {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart4 {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap4 {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

.carousel4 {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

.carousel4 {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport4 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide4 {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #f99;
}

.carousel__slide4:nth-child(even) {
  background-color: #99f;
}

#carousel__slide14{
	background-image: url("../img/Botnet1.png");
    background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
}

#carousel__slide24{
	background-image: url("../img/Botnet2.png");
    background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
}

#carousel__slide34{
	background-image: url("../img/Botnet3.png");
    background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
}

#carousel__slide44{
	background-image: url("../img/Botnet4.png");
    background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
}

.carousel__slide4:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper4 {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide4:last-child .carousel__snapper4 {
    animation-name: tostart3, snap3;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper4 {
    animation-name: none;
  }
}

.carousel4:hover .carousel__snapper4,
.carousel4:focus-within .carousel__snapper4 {
  animation-name: none;
}

.carousel__navigation4 {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list4,
.carousel__navigation-item4 {
  display: inline-block;
}

.carousel__navigation-button4 {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel4::before,
.carousel4::after,
.carousel__prev4,
.carousel__next4 {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel4::before,
.carousel__prev4 {
  left: -1rem;
}

.carousel4::after,
.carousel__next4 {
  right: -1rem;
}

.carousel4::before,
.carousel4::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel4::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel4::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

/* Image Slider 5 */
@keyframes tonext5 {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart5 {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap5 {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

.carousel5 {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

.carousel5 {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport5 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide5 {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #f99;
}

.carousel__slide5:nth-child(even) {
  background-color: #99f;
}

#carousel__slide15{
	background-image: url("../img/Garmin1.png");
    background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
}

#carousel__slide25{
	background-image: url("../img/Garmin2.png");
    background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
}

#carousel__slide35{
	background-image: url("../img/Garmin3.png");
    background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
}

#carousel__slide45{
	background-image: url("../img/Garmin4.png");
    background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
}

.carousel__slide5:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper5 {
    animation-name: tonext5, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide5:last-child .carousel__snapper5 {
    animation-name: tostart5, snap5;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper5 {
    animation-name: none;
  }
}

.carousel5:hover .carousel__snapper5,
.carousel5:focus-within .carousel__snapper5 {
  animation-name: none;
}

.carousel__navigation5 {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list5,
.carousel__navigation-item5 {
  display: inline-block;
}

.carousel__navigation-button5 {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel5::before,
.carousel5::after,
.carousel__prev5,
.carousel__next5 {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel5::before,
.carousel__prev5 {
  left: -1rem;
}

.carousel5::after,
.carousel__next5 {
  right: -1rem;
}

.carousel5::before,
.carousel5::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel5::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel5::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}